<div  class="context-bar mod-light row">
    <div pull='right' id="contextbaractions">
        <ng-container #ContextBarActions></ng-container>
    </div>
    <div pull='left' id="contextbarmain">
        <ng-container #ContextBarMain></ng-container>
    </div>
</div>
