
.context-bar {
  &.mod-light {
    height: 63px;
    line-height: 63px;
    background-color: red;
    color: #5b6368;
    padding: 0 16px;
    position: relative;
    vertical-align: middle;
    border-bottom: 2px solid #eeeff2;
    align-items: center;
    z-index:1;
}
}
