
<ng-container *appContextBarMain>
  <h1>Link One</h1>
  </ng-container>

<ng-container *appContextBarActions>
  <h1>Link Two</h1>
</ng-container>

<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo"/>
      <span translate>Hello world !</span>
    </h1>

    <app-loader [isLoading]="isLoading"></app-loader>
    <q [hidden]="isLoading">{{quote}}</q>
  </div>
</div>
